  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');  
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}